.sign-up-form {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  max-width: 700px;
  flex-grow: 1;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .input-row {
    grid-template-columns: 1fr;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
button:hover {
  cursor: pointer;
}
