@import url("./reset.css");

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #000000;
    box-sizing: border-box;
  }
  

  .base-page {
    background: #e3f9ea;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
  }