/*container for form*/
.admin-create-task-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--admin-task-card-body-background));
  padding-bottom: 10px;

  width: 80%;
  max-width: 700px;
  min-width: 200px;
  margin: auto;
  border-radius: 25px;
}

/*styling for form*/
.admin-create-task-form > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}

/*header of the whole form card*/
.admin-create-task-header {
  background: var(--admin-task-card-header-background);
  border-radius: 20px 20px 0 0;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

/*title inside header*/
.admin-create-task-title {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--admin-task-card-header-text);
  text-decoration: underline;
  grid-column: 2/3;
  text-align: center;
}

/*label for each input*/
.admin-create-task-input-label {
  font-weight: 600;
  text-decoration: underline;
}

/*general icon styling*/
.create-task-form-icon {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-task-form-icon:hover {
  opacity: 0.6;
}

/*Styling for icon that dismisses the modal*/
.create-task-form-icon-dismiss {
  grid-column: 4;
}

.create-task-form-icon.create-task-form-icon-dismiss:active {
  top: 12px;
  filter: brightness(0.6);
}
.create-task-form-icon-dismiss * {
  color: red;
}

/*styling for edit button*/
.create-task-form-button {
  background-color: var(--admin-task-edit-btn-bg);
  max-width: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
}
