:root {
  /*Chip*/
  --chip-background: rgb(195, 241, 195);

  /*Task*/
   --card-background: linear-gradient(to right, #4ee08b, #c9d75a);
  
   /*Taskboard*/  
   --taskboard-item-border: green;
   --taskboard-background: linear-gradient(to right, #4ee08b, #c9d75a);
  --taskboard-header-background: linear-gradient(to right, #143f26, #064b08);
  /*Sign Pages*/
  --input-background: #eee;

  --login-btn-background: #45c474;
  --login-btn-text: #ffffff;

  --signin-btn-background: #45c474;
  --signin-btn-text: #ffffff;

  --form-background: #c3e4ae;
  --form-intro-background: linear-gradient(to right, #4ee08b, #c9d75a);
  --form-intro-message: #536328;

  /*Page*/
  --page-title-color: rgb(0, 41, 0);


  /*Admin Task Card*/
  --admin-task-card-header-background: linear-gradient(to right, #143f26, #064b08);
  --admin-task-card-body-background: 195, 241, 195;
  --admin-task-card-header-text: #ffffff;
}
