<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        {% for volunteer in volunteers %}
            <tr>
                <td>{{volunteer.id}}</td>
                <td>{{volunteer.name}}</td>
                <td>{{volunteer.taskAssigned}}</td>
                <td>
                    <a href = '/Finished_Task/ {{ volunteer.name }}'>Finished</a> 
                </td>
            </tr>
        {% endfor %}
    </table>




    <form action="/" method = "POST">
        <input type ="text" name = "content">
        <input type ="submit" value ="Click">
    </form>


</body>
</html>